---
import Layout from "../layouts/Layout.astro";
import "../index.css";
import { css } from "../../styled-system/css";
import { Image } from "astro:assets";
import ScrollDownImage from "../assets/image.png";
import { styles } from "../styles/home";
---

<Layout>
  <div class={css(styles.container)}>
    <div class={css(styles.contentWrapper)}>
      <h1 class={css(styles.heading)}>
        I create <span class={css(styles.highlightedText)}>beautiful</span>
        <br /> experiences
      </h1>
      <p class={css(styles.subtitle)}>
        I work with people all over the world to create <br /> tailor-made Webflow
        experiences
      </p>
    </div>

    <div class={css(styles.footer)}>
      <p class={css(styles.availabilityText)}>Available for freelance work</p>
      <Image
        class={css(styles.scrollImage)}
        draggable={false}
        src={ScrollDownImage}
        alt="Decorative image"
        width="106"
        height="106"
      />
    </div>
  </div>

  <div class={css(styles.servicesGrid)}>
    <div class={css(styles.serviceCard)}>
      <div>
        <h2 class={css(styles.serviceTitle)}>
          Development
        </h2>
      </div>
      <p class={css(styles.serviceDescription)}>
        I specialize in developing websites using Webflow, a powerful platform
        that allows for easy customization and responsive design. I have
        experience building websites for a variety of industries, from small
        businesses to large corporations. My focus is always on creating
        functional and smooth websites that generate traffic.
      </p>
    </div>
    <div class={css(styles.serviceCard)}>
      <div>
        <h2 class={css(styles.serviceTitle)}>
          Art direction
        </h2>
      </div>
      <p class={css(styles.serviceDescription)}>
        Art direction is the process of bringing together all of the creative
        elements of a project to create a cohesive and visually stunning end
        product. I work with clients to develop a concept and bring it to life
        through art direction. I believe that attention to detail and a clear
        vision are key to creating truly memorable designs.
      </p>
    </div>
  </div>

  <div class={css(styles.lightPatternSection)}>
  </div>
  <div class={css(styles.darkPatternSection)}>
  </div>
</Layout>
